<a href="https://colab.research.google.com/github/cahyaa02/AgunaCourse/blob/Python-Fundamental/18dictionary_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_data = {"name": "Python", "age": 21, "city": "Snake"}

In [2]:
type(my_data)

dict

In [3]:
my_data["name"]

'Python'

In [4]:
my_data["age"]

21

In [5]:
my_data.get("city")

'Snake'

In [8]:
my_data2 = {
    "name": "Krishna",
    "age": 20,
    "city": "Surabaya"
}

In [7]:
type(my_data2)

dict

In [9]:
my_data2["age"] = 19 # Mengubah suatu data

In [10]:
my_data2

{'age': 19, 'city': 'Surabaya', 'name': 'Krishna'}

In [11]:
my_data2["city"] = "Jakarta"

In [12]:
my_data2

{'age': 19, 'city': 'Jakarta', 'name': 'Krishna'}

In [13]:
my_data2["country"] = "Indonesia" # Menambah suatu data

In [14]:
my_data2

{'age': 19, 'city': 'Jakarta', 'country': 'Indonesia', 'name': 'Krishna'}