<a href="https://colab.research.google.com/github/cahyaa02/AgunaCourse/blob/Python-Fundamental/19_method_pada_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_data2 = {
    "name": "Krishna",
    "age": 19,
    "city": "Surabaya",
    "country": "Indonesia"
}

In [2]:
dir(my_data2)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
my_data2.keys() # Menunjukkan semua keys pada dictionary

dict_keys(['name', 'age', 'city', 'country'])

In [4]:
my_data2.values() # Menunjukkan semua values pada dictionary

dict_values(['Krishna', 19, 'Surabaya', 'Indonesia'])

In [5]:
my_data2.pop("age")

19

In [6]:
my_data2.popitem() # Menghapus data paling akhir

('country', 'Indonesia')

In [7]:
my_data2

{'city': 'Surabaya', 'name': 'Krishna'}

In [18]:
my_data2.clear() # Menghapus semua data pada dictionary

In [19]:
my_data1 = {
    "name": "Python",
    "age": 20
}

In [20]:
my_data2 = my_data1

In [21]:
my_data1

{'age': 20, 'name': 'Python'}

In [22]:
my_data2

{'age': 20, 'name': 'Python'}

In [23]:
my_data2["age"] = 22 # Mengubah value pada age

In [24]:
my_data2

{'age': 22, 'name': 'Python'}

In [25]:
my_data1

{'age': 22, 'name': 'Python'}

In [26]:
my_data2["city"] = "Jakarta" # Menambah data key & value

In [27]:
my_data2

{'age': 22, 'city': 'Jakarta', 'name': 'Python'}

In [28]:
my_data3 = my_data1.copy() # Agar pada my_data1 tidak memiliki key & value yang kembar dengan my_data3

In [30]:
my_data3["country"] = "Indonesia"

In [31]:
my_data1

{'age': 22, 'city': 'Jakarta', 'name': 'Python'}

In [33]:
my_data3

{'age': 22, 'city': 'Jakarta', 'country': 'Indonesia', 'name': 'Python'}